PANGOLIN_URL=https://api.url.of.your.pangolin.instance
RESOURCE_IDS="2,7,12" # comma-separated list of resource IDs to be updated. Run the container once to see the list of available resource IDs.
ORG_ID=your_org_id # your organization ID in pangolin
PANGOLIN_TOKEN=your_pangolin_api_token # see pangolin-api-key-permissions.png for needed permissions

RETENTION_MINUTES=1440   # IP's will stay for 1440 minutes = 1 day in the allowlist after their last call
CLEANUP_INTERVAL_MINUTES=60   # how often to clean up the state file with expired IP's'

